body {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
}

.clipboard-button {
  display: none;
}

.clipboard--supported .clipboard-button {
  display: initial;
}

.custom-button {
  background-color: brown;
  color: aliceblue;
}

.custom-button:hover {
  background-color: rgb(131, 28, 28);
  color: aliceblue;
}

[data-controller="slideshow"] {
  display: flex;
  align-items: center;
}

.slide {
  margin: 0 5px;
}